<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EstateAgency Bootstrap Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">
  <style>
    .logo{
      
      width: 250px;
    }
  </style>
  <!-- =======================================================
    Theme Name: EstateAgency
    Theme URL: https://bootstrapmade.com/real-estate-agency-bootstrap-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <div class="click-closed"></div>
  <!--/ Form Search Star /-->
  <div class="box-collapse">
    <div class="title-box-d">
      <h3 class="title-d">Search Property</h3>
    </div>
    <span class="close-box-collapse right-boxed ion-ios-close"></span>
    <div class="box-collapse-wrap form">
      <form class="form-a">
        <div class="row">
          <div class="col-md-12 mb-2">
            <div class="form-group">
              <label for="Type">Keyword</label>
              <input type="text" class="form-control form-control-lg form-control-a" placeholder="Keyword">
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="Type">Type</label>
              <select class="form-control form-control-lg form-control-a" id="Type">
                <option>All Type</option>
                <option>For Rent</option>
                <option>For Sale</option>
                <option>Open House</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="city">City</label>
              <select class="form-control form-control-lg form-control-a" id="city">
                <option>All City</option>
                <option>Alabama</option>
                <option>Arizona</option>
                <option>California</option>
                <option>Colorado</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="bedrooms">Bedrooms</label>
              <select class="form-control form-control-lg form-control-a" id="bedrooms">
                <option>Any</option>
                <option>01</option>
                <option>02</option>
                <option>03</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="garages">Garages</label>
              <select class="form-control form-control-lg form-control-a" id="garages">
                <option>Any</option>
                <option>01</option>
                <option>02</option>
                <option>03</option>
                <option>04</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="bathrooms">Bathrooms</label>
              <select class="form-control form-control-lg form-control-a" id="bathrooms">
                <option>Any</option>
                <option>01</option>
                <option>02</option>
                <option>03</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-2">
            <div class="form-group">
              <label for="price">Min Price</label>
              <select class="form-control form-control-lg form-control-a" id="price">
                <option>Unlimite</option>
                <option>$50,000</option>
                <option>$100,000</option>
                <option>$150,000</option>
                <option>$200,000</option>
              </select>
            </div>
          </div>
          <div class="col-md-12">
            <button type="submit" class="btn btn-b">Search Property</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!--/ Form Search End /-->

  <!--/ Nav Star /-->
  <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
    <div class="container">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a href="">ശ്രീ കൊറ്റൻകുളങ്ങര ദേവീക്ഷേത്രം</a>
      <!-- <a class="navbar-brand text-brand" href="index.html">SA<span class="color-b">Constructions</span></a> -->
      {{!-- <button type="button" class="btn btn-link nav-search navbar-toggle-box-collapse d-md-none" data-toggle="collapse"
        data-target="#navbarTogglerDemo01" aria-expanded="false">
        <span class="fa fa-search" aria-hidden="true"></span>
      </button> --}}
      <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="/">ഉള്ളടക്കം</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">ആചാരങ്ങൾ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#services">അറിയിപ്പുകൾ</a>
          </li>
          {{!-- <li class="nav-item">
            <a class="nav-link" href="/interior">Interiors</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li> --}}
          {{!-- <li class="nav-item">
            <a class="nav-link" href="blog-grid.html">Blog</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Pages
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="property-single.html">Property Single</a>
              <a class="dropdown-item" href="blog-single.html">Blog Single</a>
              <a class="dropdown-item" href="agents-grid.html">Agents Grid</a>
              <a class="dropdown-item" href="agent-single.html">Agent Single</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li> --}}
        </ul>
      </div>
      <!-- <button type="button" class="btn btn-b-n navbar-toggle-box-collapse d-none d-md-block" data-toggle="collapse"
        data-target="#navbarTogglerDemo01" aria-expanded="false">
        <span class="fa fa-search" aria-hidden="true"></span>
      </button> -->
    </div>
  </nav>
  <!--/ Nav End /-->

  <!--/ Carousel Star /-->
  <div class="intro intro-carousel">
    <div id="carousel" class="owl-carousel owl-theme">
      <div class="carousel-item-a intro-item bg-image" style="background-image: url(img/banner2.png)">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">
                      <br> 78345</p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">ശ്രീ   </span> കൊറ്റൻകുളങ്ങര
                      <br> ദേവീക്ഷേത്രം</h1>
                    <p class="intro-subtitle intro-price">
                      <a href="//api.whatsapp.com/send?phone=+91 9495238787&text=Hai SA constructions..."><span class="price-a">whatsApp Us</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item-a intro-item bg-image" style="background-image: url(img/bann3.png)">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">
                     
                    <h1 class="intro-title mb-4">
                      <span class="color-b">ശ്രീ   </span> കൊറ്റൻകുളങ്ങര
                      <br> ദേവീക്ഷേത്രം</h1>
                    <p class="intro-subtitle intro-price">
                      <a href="//api.whatsapp.com/send?phone=+91 9495238787&text=Hai SA constructions..."><span class="price-a">whatsApp Us</span></a>
                  
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    </div>
  </div>
  <!--/ Carousel end /-->

  <!--/ Services Star /-->
  <section class="section-services section-t8" id="services">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a" style="color: red;">ക്ഷേത്രോൽപ്പത്തി ഐതീഹ്യം</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="p-2">
          <p>
                                    ഭക്തസഹസ്രങ്ങൾക്ക് അഭയവും ആശ്വാസവും അരുളുന്ന സാത്വികഭാവത്തിലുള്ള സ്വയംഭൂവായ വന
                        ദുർഗ്ഗയുടെ പുണ്യപുരാതന ക്ഷേത്രമാണ് ചവറ ശ്രീ കൊറ്റൻകുളങ്ങര ദേവീക്ഷേത്രം. തിരുവിതാംകൂർ ദേവസ്വം
                        ബോർഡിന്റെ കീഴിലുള്ള മേജർ ക്ഷേത്രങ്ങളിലൊന്നായ ഈ ക്ഷേത്രത്തിൻ്റെ പേരിൽതന്നെ ആത്മീയതയുടെ പരി
                        പാവനത്വം തുളുമ്പി നിൽക്കുന്നു. ക്ഷേത്രം സ്ഥിതി ചെയ്യുന്ന സ്ഥലം പുരാതനകാലത്ത് കാടും പടലും ഇട
                        തൂർന്ന് വളർന്നിരുന്ന സ്ഥലമായിരുന്നു. ഇപ്പോഴത്തെ ക്ഷേത്രാങ്കണത്തിൻ്റെ വടക്കുപടിഞ്ഞാറേ മൂലയ്ക്ക് ഭൂത
                        ക്കുളം എന്നറിയപ്പെട്ടിരുന്ന ചെറിയകുളവും ഇന്ന് കാണുന്ന ക്ഷേത്രകുളത്തിൻ്റെ സ്ഥാനത്ത് വിസ്തൃതമായ
                        ചിറയും. വർഷകാലങ്ങളിൽ ഇവ രണ്ടും കരകവിഞ്ഞ് സമീപത്തുള്ള പാടങ്ങളിലേക്ക് ഒഴുകുന്നു. പുല്ലും
                        വെള്ളവും സുലഭമായ ഈ പ്രദേശത്ത് സമീപവാസികളായ കുട്ടികൾ കാലികളെ മേയ്ക്കാൻ ഇടം കണ്ടെത്തി.
                        ഒരു ദിവസം അടർന്നുവീണുകിട്ടിയ നാളീകേരം ഭൂതക്കുളത്തിന് തെക്കുകിഴക്ക് ഉയർന്നുനിന്നിരുന്ന കല്ലിൽ
                        വെച്ച് തൊണ്ട് നീക്കം ചെയ്യാൻ ശ്രമിക്കവെ നാളീകേരം കല്ലിൽ തട്ടിയപ്പോൾ ശിലയിൽ നിന്ന് നിണം വാർന്നുവ
                        ന്നു. പരിഭ്രാന്തരായ അവർ വീടുകളിലെ മുതിർന്നവരെ വിവരം ധരിപ്പിച്ചു. നാട്ടുപ്രമാണിമാരുടെ നേതൃത്വത്തിൽ
                        പ്രശ്‌നം വയ്പ്പിച്ച് നോക്കിയപ്പോൾ ശിലയിൽ സാത്വികഭാവത്തിലുള്ള വനദുർഗ്ഗ കുടികൊള്ളുന്നുവെന്നും നാടി
                        ന്റെയും നാട്ടുകാരുടെയും ഐശ്വര്യത്തിന് വേണ്ടി ക്ഷേത്രം നിർമ്മിച്ച് പൂജാദികർമ്മങ്ങൾ നിർവ്വഹിക്കണമെന്നും
                        കാണാൻ കഴിഞ്ഞു. അന്നേദിവസം മുതൽ നാളീകേരം ഇടിച്ചുപിഴിഞ്ഞെടുത്ത കൊറ്റൻ ദേവിക്ക് നിവേദ്യമായി
                        നൽകി. കുമാരന്മാർ ബാലികമാരായി വേഷം അണിഞ്ഞ് ദേവിയുടെ മുന്നിൽ വിളക്കെടുത്തു. ദിവ്യ ശിലയ്ക്ക്
                        ചുറ്റും കുരുത്തോലപ്പന്തൽ കെട്ടി വിളക്കുവെച്ചു. കുളക്കരയിലെ സ്വയംഭൂവായ വനദുർഗ്ഗയുടെ ക്ഷേത്രം
                        പിന്നീട് കൊറ്റൻകുളങ്ങര ക്ഷേത്രമായി അറിയപ്പെട്ടു. വായു മണ്ഡലം മേൽക്കൂരയായി സങ്കൽപ്പിക്കണമെന്നും
                        മേൽക്കൂര പാടില്ലെന്നും ദേവപ്രശ്‌നവിധി ഉണ്ടായതിനാൽ താന്ത്രികവിധി പ്രകാരം നിർമ്മിച്ച മേൽക്കൂരയില്ലാത്ത
                        ശ്രീകോവിലിൽ ഋതുഭേദങ്ങളെല്ലാം തന്നിലാവാഹിച്ച് ശക്തിസ്വരൂപിണിയും എന്നാൽ വാത്സല്യനിധിയുമായ ദേവി
                        തന്റെ ഭക്തരിൽ കാരുണ്യാമൃതവർഷം ചൊരിഞ്ഞ് ഇവിടെ വാണരുളുന്നു. ദുർഗ്ഗാദേവിയെ കൂടാതെ ശ്രീ പരമേ
                        ശ്വരൻ, ശ്രീമഹാഗണപതി, ശ്രീധർമ്മശാസ്‌താവ്, യക്ഷിയമ്മ, മാടൻഭഗവാൻ, നാഗരാജാവ് എന്നിവർ ഉപദേവതമാ
                        രായുണ്ട്.

                        <p>ഭക്തജനങ്ങളുടെ ഇച്ഛാനുസരണം നടത്താറുള്ള കൊറ്റൻ നിവേദ്യം, ഇടിച്ചുപിഴിഞ്ഞ പായസം, പന്തിരു
                        നാഴി തുടങ്ങിയ വഴിപാടുകൾക്ക് പുറമേ സ്ത്രീസമൂഹം നാരങ്ങാവിളക്കും ചന്ദ്രപൊങ്കാലയും അഭംഗുരം നട
                        ത്തിവരുന്നു. ഉത്സവകാലത്ത് പ്രധാന വഴിപാടാണ് അൻപൊലിപ്പറ. എന്നാൽ ഇതിനേക്കാളേറെ പ്രാധാന്യമു
                        ള്ളതും ഐതീഹ്യവുമായി ബന്ധപ്പെട്ടതുമായ ആചാരമാണ് മീനം 10, 11 തീയതികളിൽ രാത്രിയിൽ നടക്കുന്ന ചമ
                        യവിളക്ക്. അഭീഷ്‌ടകാര്യസിദ്ധിക്കായ് പുരുഷന്മാർ വ്രതാനുഷ്‌ഠാനത്തോടെ സ്ത്രീവേഷം ധരിച്ച് ചമയവിളക്കെ
                        ടുക്കുന്നു. കിഴക്ക് കുഞ്ഞാലുംമൂട് മുതൽ ആറാട്ട്കടവ് വരെ വരിവരിയായി നിൽക്കുന്ന ആയിരക്കണക്കിന്
                        ചയമവിളക്കുകൾക്ക് അനുഗ്രഹം ചൊരിയുന്നതിനായി ദേവി കുഞ്ഞാലുംമൂട്ടിൽനിന്നും എഴുന്നള്ളുന്നു. ദേവി
                        യുടെ എഴുന്നള്ളത്ത് അവാച്യവും ഭക്തിനിർഭരവുമായ ആനന്ദാനുഭൂതിയാണ് ഭക്തജനങ്ങളിൽ ഉളവാക്കുന്നത്.</p>
                        </p>
                        <p>
                          വിളക്കുകണ്ട് ആറാട്ട് കഴിഞ്ഞതിനുശേഷം കൽപ്പവൃക്ഷത്തിൻ്റെ സ്വർണ്ണവർണ്ണാഭമായ കുരുത്തോലയും
                        കമുകും വാഴപ്പോളയും കൊണ്ട് ക്ഷേത്രമാതൃകയിൽ നിർമ്മിച്ച പന്തലിൽ ദേവി വിശ്രമിക്കുന്നു. ചവറ, പുതുക്കാ
                        ട്, കുളങ്ങരഭാഗം, കോട്ടയ്ക്കകം എന്നീ നാലുകരകളുടെ നേതൃത്വത്തിൽ വരുന്ന എടുപ്പുകുതിരയുടെയും വാദ്യ
                        ഘോഷങ്ങളുടെയും ഗജവീരന്മാരുടേയും വണ്ടിക്കുതിരകളുടേയും നിശ്ചല ദൃശ്യങ്ങളുടെയും സമന്വിതസമ്മേളന
                        മായ കെട്ടുകാഴ്‌ച ഉത്സവത്തിൻ്റെ ഒരു പ്രധാന ഇനമാണ്.
                        </p>

          {{!-- <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="fa fa-gamepad"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c"></h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
               We serve our customers at every project phase, from strategy formulation through design, project management and implementation right through to support and upgrades. We are committed to best practices and professional integrity to ensure we deliver quality.
              </p>
            </div>
            <div class="card-footer-c">
              <a href="#" class="link-c link-icon">Read more
                <span class="ion-ios-arrow-forward"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="fa fa-usd"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c"></h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                Customer satisfaction drives every aspect of their commercial contractor business. These time-honored qualities are incorporated into every project built by S A CONSTRUCTIONS ability to combine the right equipment with our experienced crews and Project Managers ensures that your site is ready on time -even on an accelerated schedule
              </p>
            </div>
            <div class="card-footer-c">
              <a href="#" class="link-c link-icon">Read more
                <span class="ion-ios-arrow-forward"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="fa fa-home"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c"></h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                S A CONSTRUCTIONS provides the highest quality of service for just about every type of commercial excavation project, and that's a promise that's backed by the testimony of more than a two decades worth of satisfied customers.
              </p>
            </div>
            <div class="card-footer-c">
              <a href="#" class="link-c link-icon">Read more
                <span class="ion-ios-arrow-forward"></span>
              </a>
            </div>
          </div>
        </div> --}}
      </div>
    </div>
  </section>
  <!--/ Services End /-->

  <!--/ Property Star /-->
  <section class="section-property section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">പുതിയ ചിത്രങ്ങൾ</h2>
            </div>
            <div class="title-link">
              <a href="property-grid.html">>                <span class="ion-ios-arrow-forward"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div id="property-carousel" class="owl-carousel owl-theme">
        {{#each previousWorks}}
        <div class="carousel-item-b" >
          <div class="card-box-a card-shadow" >
            <div class="img-box-a">
              <img src="images/uploadIMG/{{_id}}.jpg" alt="" class="img-a" style="height: 340px;">
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="property-single.html">
                      <br /> {{description}}</a>
                  </h2>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <span class="price-a">Newly Made</span>
                  </div>
                  {{!-- <a href="#" class="link-a">Click here to view --}}
                    <span class="ion-ios-arrow-forward"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
        {{!-- <div class="carousel-item-b">
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
              <img src="img/property-3.jpg" alt="" class="img-a img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="property-single.html">157 West
                      <br /> Central Park</a>
                  </h2>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <span class="price-a">rent | $ 12.000</span>
                  </div>
                  <a href="property-single.html" class="link-a">Click here to view
                    <span class="ion-ios-arrow-forward"></span>
                  </a>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <h4 class="card-info-title">Area</h4>
                      <span>340m
                        <sup>2</sup>
                      </span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Beds</h4>
                      <span>2</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Baths</h4>
                       <span>4</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Garages</h4>
                      <span>1</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div> --}}
        {{!-- <div class="carousel-item-b">
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
              <img src="img/property-7.jpg" alt="" class="img-a img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="property-single.html">245 Azabu
                      <br /> Nishi Park let</a>
                  </h2>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <span class="price-a">rent | $ 12.000</span>
                  </div>
                  <a href="property-single.html" class="link-a">Click here to view
                    <span class="ion-ios-arrow-forward"></span>
                  </a>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <h4 class="card-info-title">Area</h4>
                      <span>340m
                        <sup>2</sup>
                      </span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Beds</h4>
                      <span>2</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Baths</h4>
                      <span>4</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Garages</h4>
                      <span>1</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div> --}}
        {{!-- <div class="carousel-item-b">
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
              <img src="img/property-10.jpg" alt="" class="img-a img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="property-single.html">204 Montal
                      <br /> South Bela Two</a>
                  </h2>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <span class="price-a">rent | $ 12.000</span>
                  </div>
                  <a href="property-single.html" class="link-a">Click here to view
                    <span class="ion-ios-arrow-forward"></span>
                  </a>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <h4 class="card-info-title">Area</h4>
                      <span>340m
                        <sup>2</sup>
                      </span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Beds</h4>
                      <span>2</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Baths</h4>
                      <span>4</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Garages</h4>
                      <span>1</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div> --}}
      </div>
    </div>
  </section>
  <!--/ Property End /-->

  <!--/ Agents Star /-->
  {{!-- <section class="section-agents section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Best Agents</h2>
            </div>
            <div class="title-link">
              <a href="agents-grid.html">All Agents
                <span class="ion-ios-arrow-forward"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card-box-d">
            <div class="card-img-d">
              <img src="img/agent-4.jpg" alt="" class="img-d img-fluid">
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h3 class="title-d">
                    <a href="agent-single.html" class="link-two">Margaret Sotillo
                      <br> Escala</a>
                  </h3>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">
                  Sed porttitor lectus nibh, Cras ultricies ligula sed magna dictum porta two.
                </p>
                <div class="info-agents color-a">
                  <p>
                    <strong>Phone: </strong> +54 356 945234</p>
                  <p>
                    <strong>Email: </strong> agents@example.com</p>
                </div>
              </div>
              <div class="card-footer-d">
                <div class="socials-footer d-flex justify-content-center">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-d">
            <div class="card-img-d">
              <img src="img/agent-1.jpg" alt="" class="img-d img-fluid">
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h3 class="title-d">
                    <a href="agent-single.html" class="link-two">Stiven Spilver
                      <br> Darw</a>
                  </h3>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">
                  Sed porttitor lectus nibh, Cras ultricies ligula sed magna dictum porta two.
                </p>
                <div class="info-agents color-a">
                  <p>
                    <strong>Phone: </strong> +54 356 945234</p>
                  <p>
                    <strong>Email: </strong> agents@example.com</p>
                </div>
              </div>
              <div class="card-footer-d">
                <div class="socials-footer d-flex justify-content-center">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-d">
            <div class="card-img-d">
              <img src="img/agent-5.jpg" alt="" class="img-d img-fluid">
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h3 class="title-d">
                    <a href="agent-single.html" class="link-two">Emma Toledo
                      <br> Cascada</a>
                  </h3>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">
                  Sed porttitor lectus nibh, Cras ultricies ligula sed magna dictum porta two.
                </p>
                <div class="info-agents color-a">
                  <p>
                    <strong>Phone: </strong> +54 356 945234</p>
                  <p>
                    <strong>Email: </strong> agents@example.com</p>
                </div>
              </div>
              <div class="card-footer-d">
                <div class="socials-footer d-flex justify-content-center">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> --}}
  <!--/ Agents End /-->

  <!--/ News Star /-->
  <section class="section-news section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">ആഘോഷങ്ങൾ</h2>
            </div>
            <div class="title-link">
              <a href="/interior">
                <span class="ion-ios-arrow-forward"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div id="new-carousel" class="owl-carousel owl-theme">
          {{#each Interior}}
        <div class="carousel-item-c">
        
          <div class="card-box-b card-shadow news-box">
            <div class="img-box-b">
              <img src="images/uploadIMG/{{_id}}.jpg" alt="" class="img-b" height="340px">
            </div>
            <div class="card-overlay">
              <div class="card-header-b">
                <div class="card-category-b">
                  <a href="#" class="category-b">Interior</a>
                </div>
                <div class="card-title-b">
                  <h2 class="title-2">
                    <a href="blog-single.html">{{description}}
                      <br> </a>
                  </h2>
                </div>
                <div class="card-date">
                  <span class="date-b"></span>
                </div>
              </div>
            </div>
          </div>

        </div>
     {{/each}}
        {{!-- <div class="carousel-item-c">
          <div class="card-box-b card-shadow news-box">
            <div class="img-box-b">
              <img src="img/post-5.jpg" alt="" class="img-b img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-header-b">
                <div class="card-category-b">
                  <a href="#" class="category-b">Travel</a>
                </div>
                <div class="card-title-b">
                  <h2 class="title-2">
                    <a href="blog-single.html">Travel is comming
                      <br> new</a>
                  </h2>
                </div>
                <div class="card-date">
                  <span class="date-b">18 Sep. 2017</span>
                </div>
              </div>
            </div>
          </div>
        </div> --}}
        {{!-- <div class="carousel-item-c">
          <div class="card-box-b card-shadow news-box">
            <div class="img-box-b">
              <img src="img/post-7.jpg" alt="" class="img-b img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-header-b">
                <div class="card-category-b">
                  <a href="#" class="category-b">Park</a>
                </div>
                <div class="card-title-b">
                  <h2 class="title-2">
                    <a href="blog-single.html">Park is comming
                      <br> new</a>
                  </h2>
                </div>
                <div class="card-date">
                  <span class="date-b">18 Sep. 2017</span>
                </div>
              </div>
            </div>
          </div>
        </div> --}}
        {{!-- <div class="carousel-item-c">
          <div class="card-box-b card-shadow news-box">
            <div class="img-box-b">
              <img src="img/post-3.jpg" alt="" class="img-b img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-header-b">
                <div class="card-category-b">
                  <a href="#" class="category-b">Travel</a>
                </div>
                <div class="card-title-b">
                  <h2 class="title-2">
                    <a href="#">Travel is comming
                      <br> new</a>
                  </h2>
                </div>
                <div class="card-date">
                  <span class="date-b">18 Sep. 2017</span>
                </div>
              </div>
            </div>
          </div>
        </div> --}}
      </div>
    </div>
  </section>
  <!--/ News End /-->

  <!--/ Testimonials Star /-->
  {{!-- <section class="section-testimonials section-t8 nav-arrow-a">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Our Clients</h2>
            </div>
          </div>
        </div>
      </div>
      <div id="testimonial-carousel" class="owl-carousel owl-arrow">
        <div class="carousel-item-a">
          <div class="testimonials-box">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="testimonial-img">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRezoZJO431vYHkEmBMG_j2tQI48AbExbJnQw&s" alt="" style="height: 260px;width:90%">
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="testimonial-ico">
                  <span class="ion-ios-quote"></span>
                </div>
                <div class="testimonials-content">
                  <p class="testimonial-text">
                    Excellent service and high-quality work!
                  </p>
                </div>
                <div class="testimonial-author-box">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRezoZJO431vYHkEmBMG_j2tQI48AbExbJnQw&s" alt="" class="testimonial-avatar">
                  <h5 class="testimonial-author">Asset Home</h5>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item-a">
          <div class="testimonials-box">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="testimonial-img">
                  <img src="https://www.media4growth.com/public/thumbs/news/2020/01/4602/kmrl_440_851.png" alt="" style="height: 260px;width:90%">
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="testimonial-ico">
                  <span class="ion-ios-quote"></span>
                </div>
                <div class="testimonials-content">
                  <p class="testimonial-text">
                    Excellent service and high-quality work!
                  </p>
                </div>
                <div class="testimonial-author-box">
                  <img src="https://www.media4growth.com/public/thumbs/news/2020/01/4602/kmrl_440_851.png" alt="" class="testimonial-avatar">
                  <h5 class="testimonial-author">KMRL</h5>
                </div>
              </div>
            </div>
          </div>
        </div>

         <div class="carousel-item-a">
          <div class="testimonials-box">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="testimonial-img">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_Uub0R2IsoQYk13StYRr3MKVHkG1nYDfYnw&s" alt="" style="height: 260px;width:90%">
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="testimonial-ico">
                  <span class="ion-ios-quote"></span>
                </div>
                <div class="testimonials-content">
                  <p class="testimonial-text">
                    Excellent service and high-quality work!
                  </p>
                </div>
                <div class="testimonial-author-box">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_Uub0R2IsoQYk13StYRr3MKVHkG1nYDfYnw&s" alt="" class="testimonial-avatar">
                  <h5 class="testimonial-author">International Airport Limited</h5>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item-a">
          <div class="testimonials-box">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="testimonial-img">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbI5GEjTBEwDs4_fSL9xvTAR004HOizjMhzw&s" alt="" style="height: 260px;width:90%">
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="testimonial-ico">
                  <span class="ion-ios-quote"></span>
                </div>
                <div class="testimonials-content">
                  <p class="testimonial-text">
                    Excellent service and high-quality work!
                  </p>
                </div>
                <div class="testimonial-author-box">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbI5GEjTBEwDs4_fSL9xvTAR004HOizjMhzw&s" alt="" class="testimonial-avatar">
                  <h5 class="testimonial-author">Godrej Group</h5>
                </div>
              </div>
            </div>
          </div>
        </div>

         <div class="carousel-item-a">
          <div class="testimonials-box">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="testimonial-img">
                  <img src="https://img.etimg.com/thumb/msid-108834990,width-1200,height-900,resizemode-4,imgsize-14376/larsen-toubro-share-price-live-updates-28-mar-2024.jpg" alt="" style="height: 260px;width:90%">
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="testimonial-ico">
                  <span class="ion-ios-quote"></span>
                </div>
                <div class="testimonials-content">
                  <p class="testimonial-text">
                    Excellent service and high-quality work!
                  </p>
                </div>
                <div class="testimonial-author-box">
                  <img src="https://img.etimg.com/thumb/msid-108834990,width-1200,height-900,resizemode-4,imgsize-14376/larsen-toubro-share-price-live-updates-28-mar-2024.jpg" alt="" class="testimonial-avatar">
                  <h5 class="testimonial-author">Larsen & Toubro </h5>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item-a">
          <div class="testimonials-box">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="testimonial-img">
                  <img src="https://superadmin.homes247.in/images/uploadPropertyImgs/1667544806-COVER%20IMAGE@72x-50.jpg" alt="" class="img-fluid">
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="testimonial-ico">
                  <span class="ion-ios-quote"></span>
                </div>
                <div class="testimonials-content">
                  <p class="testimonial-text">
                   "Highly recommend this company for any construction needs."
                  </p>
                </div>
                <div class="testimonial-author-box">
                  <img src="https://superadmin.homes247.in/images/uploadPropertyImgs/1667544806-COVER%20IMAGE@72x-50.jpg" alt="" class="testimonial-avatar">
                  <h5 class="testimonial-author">Dewa projects</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> --}}
  <!--/ Testimonials End /-->

  <!--/ footer Star /-->
  <section class="section-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">Kottankulangara Temple</h3>
            </div>
            <div class="w-body-a">
              <p class="w-text-a color-text-a">
                Chavara PO
                Kollam
                Kerala
              </p>
            </div>
            {{!-- <div class="w-footer-a">
              <ul class="list-unstyled">
                <li class="color-a">
                  <span class="color-text-a">Email .</span> saconstructions9@gmaile.com</li>
                <li class="color-a">
                  <span class="color-text-a">Phone .</span> +91 8921397039</li>
                  <span class="color-text-a">Phone .</span> +91 9074178188</li> <br>
                  <span class="color-text-a">Phone .</span> +91 9526987124</li>


              </ul>
            </div> --}}
          </div>
        </div>
        <div class="col-sm-12 col-md-4 section-md-t3">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">The Temple</h3>
            </div>
            <div class="w-body-a">
              <div class="w-body-a">
                <ul class="list-unstyled">
                  <li class="item-list-a">
                    <i class="fa fa-angle-right"></i> <a href="/contact">Site Map</a>
                  </li>
                  {{!-- <li class="item-list-a">
                    <i class="fa fa-angle-right"></i> <a href="#">Legal</a>
                  </li> --}}
                  {{!-- <li class="item-list-a">
                    <i class="fa fa-angle-right"></i> <a href="#">Agent Admin</a>
                  </li> --}}
                  {{!-- <li class="item-list-a">
                    <i class="fa fa-angle-right"></i> <a href="#">Careers</a>
                  </li> --}}
                  {{!-- <li class="item-list-a">
                    <i class="fa fa-angle-right"></i> <a href="#">Affiliate</a>
                  </li> --}}
                  {{!-- <li class="item-list-a">
                    <i class="fa fa-angle-right"></i> <a href="#">Privacy Policy</a>
                  </li> --}}
                </ul>
              </div>
            </div>
          </div>
        </div>
        {{!-- <div class="col-sm-12 col-md-4 section-md-t3">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">SOME PROJECT EXPERIENCE</h3>
            </div>
            <div class="w-body-a">
              <ul class="list-unstyled">
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="#">Dewa projects</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="#">Larsen & Toubro</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="#">Pranavam le royale C/o Reciever ,
Kerala High Court</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="#">S I constructions</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="#">Larson & Toubro</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="#">Godrej</a>
                </li>
              </ul>
            </div>
          </div>
        </div> --}}
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="nav-footer">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#">Home</a>
              </li>
              <li class="list-inline-item">
                <a href="#">About</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Property</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Blog</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Contact</a>
              </li>
            </ul>
          </nav>
          <div class="socials-a">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
              </li>
              {{!-- <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-dribbble" aria-hidden="true"></i>
                </a>
              </li> --}}
            </ul>
          </div>
          <div class="copyright-footer">
            <p class="copyright color-text-a">
              &copy; Copyright
              <span class="color-a">SAconstructions</span> All Rights Reserved.
            </p>
          </div>
          <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=EstateAgency
            -->
            Designed by <a href="https://byteboot.in/">byteboot Techno solutions PVT LTD</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--/ Footer End /-->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/popper/popper.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/scrollreveal/scrollreveal.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>
